[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MOSim"]
	path = MOSim
	url = https://github.com/neurergus/mosim
	shallow = true
	registered = true
